<%- model_class = Species -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @species.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:genus) %>:</strong></dt>
  <dd><%= @species.genus %></dd>
  <dt><strong><%= model_class.human_attribute_name(:familia) %>:</strong></dt>
  <dd><%= @species.familia %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ordo) %>:</strong></dt>
  <dd><%= @species.ordo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:subclassis) %>:</strong></dt>
  <dd><%= @species.subclassis %></dd>
  <dt><strong><%= model_class.human_attribute_name(:classis) %>:</strong></dt>
  <dd><%= @species.classis %></dd>
  <dt><strong><%= model_class.human_attribute_name(:subphylum) %>:</strong></dt>
  <dd><%= @species.subphylum %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phylum) %>:</strong></dt>
  <dd><%= @species.phylum %></dd>
  <dt><strong><%= model_class.human_attribute_name(:synonyms) %>:</strong></dt>
  <dd><%= @species.synonyms %></dd>
  <dt><strong><%= model_class.human_attribute_name(:growth_type) %>:</strong></dt>
  <dd><%= @species.growth_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nutritive_group) %>:</strong></dt>
  <dd><%= @species.nutritive_group %></dd>
  <dt><strong><%= model_class.human_attribute_name(:url) %>:</strong></dt>
  <dd><%= @species.url %></dd>
  <dt><strong><%= model_class.human_attribute_name(:uuid) %>:</strong></dt>
  <dd><%= @species.uuid %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              admin_species_index_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_admin_species_path(@species), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              admin_species_path(@species),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
