<div class="container">
  <div class="col-sm-2">
    <div class="">
      <ul class="list-group">
        <p>Staniste</p>
        <li class="list-group-item"> <a href="#">Suma</a> </li>
        <li class="list-group-item"> <a href="#">Livada</a> </li>
        <li class="list-group-item"> <a href="#">Panj</a> </li>
        <li class="list-group-item"> <a href="#">Trava</a> </li>
        <li class="list-group-item"> <a href="#">Mocvara</a> </li>
      </ul>
      <ul class="list-group">
        <p>Staniste</p>
        <li class="list-group-item"> <a href="#">Suma</a> </li>
        <li class="list-group-item"> <a href="#">Livada</a> </li>
        <li class="list-group-item"> <a href="#">Panj</a> </li>
        <li class="list-group-item"> <a href="#">Trava</a> </li>
        <li class="list-group-item"> <a href="#">Mocvara</a> </li>
      </ul>
    </div>
  </div>
  <div class="col-sm-10">
    <% @specimens.each do |specimen| %>
      <div class="col-sm-8 col-md-6 col-lg-4 col-xl-2">
        <div class="card">
          <div class="img-wrap">
            <% if specimen.pictures.any? %>
              <%= image_tag specimen.pictures.first.image, class: "card-img-top" %>
            <% else %>
            <a href="#"><img class="card-img-top" src="<%= asset_path( 'index/2.jpg' ) %>" alt="Card image cap"></a>
            <% end %>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= link_to specimen.display_name, specimen_path(specimen) %></h5>
            <h6 class="card-subtitle mb-2 text-muted">Nalaz dodat <span class="pull-right"><%= specimen.date %></span></h6>
            <div class="card-footer">
              <p class="text-muted">Dodao:
                <a href="#" class="pull-right"><%= specimen.legator_text %></a>
              </p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
