<div class="container">
  <div class="col-sm-2">
    <div class="list-group">
      <a href="#" class="list-group-item active">
        Cras justo odio
      </a>
      <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
      <a href="#" class="list-group-item">Morbi leo risus</a>
      <a href="#" class="list-group-item">Porta ac consectetur ac</a>
      <a href="#" class="list-group-item">Vestibulum at eros</a>
    </div>
    <div class="list-group">
      <a href="#" class="list-group-item active">
        Cras justo odio
      </a>
      <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
      <a href="#" class="list-group-item">Morbi leo risus</a>
      <a href="#" class="list-group-item">Porta ac consectetur ac</a>
      <a href="#" class="list-group-item">Vestibulum at eros</a>
    </div>
    <div class="list-group">
      <a href="#" class="list-group-item active">
        Cras justo odio
      </a>
      <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
      <a href="#" class="list-group-item">Morbi leo risus</a>
      <a href="#" class="list-group-item">Porta ac consectetur ac</a>
      <a href="#" class="list-group-item">Vestibulum at eros</a>
    </div>
  </div>
  <div class="col-sm-10">
    <div class="row">
      <%= will_paginate %>
    </div>
    <div class="card-deck">
      <% @specimens.each do |specimen| %>
        <div class="card card-grid">
          <div class="card-img-wrap">
            <% if specimen.pictures.any? %>
              <%= image_tag specimen.pictures.first.image, class: "card-img-top" %>
            <% else %>
            <a href="#"><img class="card-img-top " src="<%= asset_path( 'index/2.jpg' ) %>" alt="Card image cap"></a>
            <% end %>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= link_to specimen.display_name, specimen_path(specimen) %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= specimen.date %></h6>
            <!-- <a href="#" class="pull-left card-link"><%= specimen.legator_text %></a> -->
            <button type="button" name="button" class="btn"><%= specimen.legator_text %></button>
          </div>
        </div>
      <% end %>
    </div>
    <div class="row">
      <%= will_paginate %>
    </div>
  </div>
</div>
