<div class="page-hero">
  <h1><%= @specimen.display_name %></h1>
  <ol class="breadcrumb">
    <li><a href="#">Familija</a></li>
    <li><a href="#">Vrsta</a></li>
    <li class="active"><%= @specimen.display_name %></li>
  </ol>
</div>
<div class="container">
  <div class="content">
    <div class="col-sm-6">
      <div class="card">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22507.860018473515!2d19.69177472385645!3d45.15707840572651!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475b094881e683e7%3A0xc1f22e3d1483a4c2!2z0KTRgNGD0YjQutCwINCz0L7RgNCw!5e0!3m2!1ssr!2srs!4v1530028777165" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">

        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <img class="img-thumbnail" src="<%= asset_path( 'index/1.jpg' ) %>" alt="Card image cap">
    <img class="img-thumbnail" src="<%= asset_path( 'index/2.jpg' ) %>" alt="Card image cap">
    <img class="img-thumbnail" src="<%= asset_path( 'index/3.jpg' ) %>" alt="Card image cap">
    <img class="img-thumbnail" src="<%= asset_path( 'index/2.jpg' ) %>" alt="Card image cap">
  </div>
</div>
