<div class="container">
  <div class="row">
    <div class="page-header">
      <h1>Tricholoma saponaceum var. squamosum</h1>
      <ol class="breadcrumb">
        <li><a href="#">Familija</a></li>
        <li><a href="#">Vrsta</a></li>
        <li class="active">Nalaz</li>
      </ol>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <!-- <img class="card-img-top" src="<%= asset_path( 'index/2.jpg' ) %>" alt="Card image cap"> -->
          <div class="product-slider">
            <div id="carousel" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="item item-main active"> <img class="card-img-top" src="<%= asset_path( 'index/2.jpg' ) %>" alt="Card image cap"> </div>
                <div class="item item-main"> <img class="card-img-top" src="<%= asset_path( 'index/1.jpg' ) %>" alt="Card image cap"> </div>
                <div class="item item-main"> <img class="card-img-top" src="<%= asset_path( 'index/2.jpg' ) %>" alt="Card image cap"> </div>
                <div class="item item-main"> <img class="card-img-top" src="<%= asset_path( 'index/3.jpg' ) %>" alt="Card image cap"> </div>
                <div class="item item-main"> <img class="card-img-top" src="<%= asset_path( 'index/1.jpg' ) %>" alt="Card image cap"> </div>
                <div class="item item-main"> <img class="card-img-top" src="<%= asset_path( 'index/2.jpg' ) %>" alt="Card image cap"> </div>
                <div class="item item-main"> <img class="card-img-top" src="<%= asset_path( 'index/1.jpg' ) %>" alt="Card image cap"> </div>
                <div class="item item-main"> <img class="card-img-top" src="<%= asset_path( 'index/2.jpg' ) %>" alt="Card image cap"> </div>
                <div class="item item-main"> <img class="card-img-top" src="<%= asset_path( 'index/1.jpg' ) %>" alt="Card image cap"> </div>
                <div class="item item-main"> <img class="card-img-top" src="<%= asset_path( 'index/3.jpg' ) %>" alt="Card image cap"> </div>
              </div>
            </div>
            <div class="clearfix">
              <div id="thumbcarousel" class="carousel slide" data-interval="false">
                <div class="carousel-inner">
                  <div class="item active">
                    <div data-target="#carousel" data-slide-to="0" class="thumb"><img src="http://placehold.it/100x80?text=Thumb+01"></div>
                    <div data-target="#carousel" data-slide-to="1" class="thumb"><img src="http://placehold.it/100x80?text=Thumb+02"></div>
                    <div data-target="#carousel" data-slide-to="2" class="thumb"><img src="http://placehold.it/100x80?text=Thumb+03"></div>
                    <div data-target="#carousel" data-slide-to="3" class="thumb"><img src="http://placehold.it/100x80?text=Thumb+04"></div>
                  </div>
                  <div class="item">
                    <div data-target="#carousel" data-slide-to="5" class="thumb"><img src="http://placehold.it/100x80?text=Thumb+06"></div>
                    <div data-target="#carousel" data-slide-to="6" class="thumb"><img src="http://placehold.it/100x80?text=Thumb+07"></div>
                    <div data-target="#carousel" data-slide-to="7" class="thumb"><img src="http://placehold.it/100x80?text=Thumb+08"></div>
                    <div data-target="#carousel" data-slide-to="8" class="thumb"><img src="http://placehold.it/100x80?text=Thumb+08"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Korisnik</h3>
            </div>
            <div class="panel-body">
              Panel content
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
