<div class="container">
    <%= will_paginate %>
  <table class="table-striped">
    <thead>
      <tr>
        <th scope="col">Ime vrste</th>
        <th scope="col">Familija</th>
        <th scope="col">Nutritivna grupa</th>
        <th scope="col">Broj nalaza</th>
      </tr>
    </thead>
    <tbody>
      <% @species.each do |spc| %>
      <tr>
        <td><%= link_to spc.name, species_path(spc.url), class: 'underline' %></td>
        <td><%= spc.familia %></td>
        <td><%= spc.nutritive_group if spc.nutritive_group %></td>
        <td><%= spc.specimens.count %></td>
      </tr>
      <% end  %>
    </tbody>
  </table>
    <%= will_paginate %>
</div>
