<div class="container">
  <div class="row">
    <%= will_paginate %>
  </div>
  <table class="table-striped">
    <thead>
      <tr>
        <th scope="col">Ime vrste</th>
        <th scope="col">Familija</th>
        <th scope="col">Nutritivna grupa</th>
        <th scope="col">Broj nalaza</th>
      </tr>
    </thead>
    <tbody>
      <% @species.each do |spc| %>
      <tr>
        <td><%= link_to spc.name, species_path(spc.url), class: 'underline' %></td>
        <td><%= spc.familia %></td>
        <td><%= spc.nutritive_group if spc.nutritive_group %></td>
        <td><%= spc.specimens.count %></td>
      </tr>
      <% end  %>
    </tbody>
  </table>
  <div class="row">
    <%= will_paginate %>
  </div>
</div>

  <!-- <ul class="list-group">
    <% @species.each do |spc| %>

      <li class="list-group-item">
        <h4><%= spc.name %></h4>
        <p><%= spc.familia %></p>
      </li>

    <% end  %> -->

    <!-- <table class="table table-sm table-dark"> -->
  <!-- <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
    </thead> -->
    <!-- <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </ul>
</div> -->
