<div class="container content">
  <div class="row border-btm">
    <div class="col-sm-8">
      <h1><%= @species.name %></h1>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
    </div>
    <div class="col-sm-4 border-left padding">
      <div class="row">
        <div class="col-sm-6 padding">
          <p class="text-muted">Poslednji determinator</p>
          <%= link_to @species.specimens.last.legator_text , user_path(@species.specimens.last.legator_id), class: 'underline' if @species.specimens.last.legator_text %>
        </div>
        <div class="col-sm-6 padding">
          <p class="text-muted">Najaktivniji determinator</p>
          <a class="underline" href="#">Hari Kalanj</a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 padding">
          <p class="text-muted">Poslednji nalaz</p>
          <%= link_to @species.specimens.last.display_name, specimen_path(@species.specimens.last), class: 'underline' %>
        </div>
        <div class="col-sm-6 padding">
          <p class="text-muted">Broj nalaza</p>
          <p><%= @species.specimens.count %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 border-right border-btm padding">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22507.860018473515!2d19.69177472385645!3d45.15707840572651!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475b094881e683e7%3A0xc1f22e3d1483a4c2!2z0KTRgNGD0YjQutCwINCz0L7RgNCw!5e0!3m2!1ssr!2srs!4v1530028777165" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="col-sm-4 padding border-btm green-background">
      <p>Genus: <i><%= @species.genus if @species.genus %></i> </p>
      <p>Familija: <i><%= @species.familia if @species.familia %></i> </p>
      <p>Red: <i><%= @species.ordo if @species.ordo %></i> </p>
      <p>Klasa: <i><%= @species.classis if @species.classis %></i> </p>
      <p>Sabklasa: <i><%= @species.subclassis if @species.subclassis %></i> </p>
      <p>Phylum: <i><%= @species.phylum if @species.phylum %></i> </p>
      <p>Synonyms: <i><%= @species.synonyms if @species.synonyms %></i> </p>
      <p>Nacin rasta: <i><%= @species.growth_type if @species.growth_type %></i> </p>
      <p>Nutritivna grupa: <i><%= @species.nutritive_group if @species.nutritive_group %></i> </p>
    </div>
  </div>
</div>
