<div class="container">
  <h1 class="title"><%= @species.name %></h1>
  <ul class="breadcrumb">
    <li> <span class="text-muted">Genus:</span>  <i><%= @species.genus if @species.genus %></i> </li>
    <li> <span class="text-muted">Familija:</span>  <i><%= @species.familia if @species.familia %></i> </li>
    <li> <span class="text-muted">Red:</span>  <i><%= @species.ordo if @species.ordo %></i> </li>
    <li> <span class="text-muted">Klasa:</span>  <i><%= @species.classis if @species.classis %></i> </li>
    <li> <span class="text-muted">Sabklasa:</span>  <i><%= @species.subclassis if @species.subclassis %></i> </li>
    <li> <span class="text-muted">Phylum:</span>  <i><%= @species.phylum if @species.phylum %></i> </li>
  </ul>
  <div class="row">
    <div class="col-sm-6">
      <div class="card card-shadow">
        <div class="card-body">
          <img src="<%= asset_path( 'index/2.jpg' ) %>" class="species-main-img" alt="Example">
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card card-shadow">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6 one-fourth-section">
              <p class="text-muted">Poslednji determinator</p>
              <div class="user-img align-items">
                <a href="#"><img class="card-img-top" src="<%= asset_path( 'index/vucic.jpg' ) %>" alt="Card image cap"></a>
                <%= link_to @species.specimens.last.determinator_text , user_path(@species.specimens.last.determinator_id), class: 'underline' %>
              </div>

            </div>
            <div class="col-sm-6 one-fourth-section">
              <p class="text-muted">Najaktivniji determinator</p>
              <div class="user-img align-items">
                <a href="#"><img class="card-img-top" src="<%= asset_path( 'index/vucic.jpg' ) %>" alt="Card image cap"></a>
                <%= link_to @species.specimens.last.determinator_text , user_path(@species.specimens.last.determinator_id), class: 'underline' %>
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 one-fourth-section">
              <p class="text-muted">Poslednji nalaz</p>
              <div class="user-img align-items">
                <a href="#"><img class="card-img-top" src="<%= asset_path( 'index/1.jpg' ) %>" alt="Card image cap"></a>
                <%= link_to @species.specimens.last.date, specimen_path(@species.specimens.last), class: 'underline' %>
              </div>

            </div>
            <div class="col-sm-6 one-fourth-section">
              <p class="text-muted">Boj nalaza</p>
              <div class="user-img align-items">
                <a href="#"><%= fa_icon "binoculars " %></a>
                <%= link_to @species.specimens.count, specimen_path(@species.specimens.last), class: 'underline' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <%= render partial: "shared/comments/comments", locals: {commentable: @species} %>
      <%= render partial: "shared/comments/form", locals: {commentable: @specimen, url: species_comments_path(@species)} %>
    </div>
  </div>
</div>
