<li>
  <form id="sidebar-search" method="get"
        <%= (is_species_search? || is_specimens_search?) ? " data-remote='true' " : '' %>
        data-species-action="<%= send(:search_species_index_url, locale: I18n.locale) %>"
        data-specimens-action="<%= '' %>">

    <div class="input-group" id="systematics-input">

      <div class="input-group-btn" id="search-domain-select">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <%= fo_icon_tag :species %>
          <span class="caret"></span>
        </button>

        <ul class="dropdown-menu" role="menu">
          <li class="active">
            <a href="#" data-search-domain="species" data-icon="<%= fo_icon(:species) %>" data-placeholder="<%= t('species_search.placeholder.species') %>...">
              <%= fo_icon_tag :species %> <%= t('shared.sections.species') %>
            </a></li>
          <li>
            <a href="#" data-search-domain="specimens" data-icon="<%= fo_icon(:specimens) %>" data-placeholder="<%= t('species_search.placeholder.specimens') %>...">
              <%= fo_icon_tag :specimens %> <%= t('shared.sections.specimens') %>
            </a></li>
        </ul>
      </div>

      <input type="hidden" id="search_domain" value="species">
      <input type="text" id="systematics-typeahead" name="s"
             class="form-control systematics typeahead"
             placeholder="<%= t('species_search.placeholder.species') %>..."
             data-genus="<%= t('species.attributes.genus') %>"
             data-familia="<%= t('species.attributes.familia') %>"
             data-ordo="<%= t('species.attributes.ordo') %>"
             data-subclassis="<%= t('species.attributes.subclassis') %>"
             data-classis="<%= t('species.attributes.classis') %>"
             data-subphylum="<%= t('species.attributes.subphylum') %>"
             data-phylum="<%= t('species.attributes.phylum') %>">

      <span id="cancel-species" class="input-group-btn hidden">
        <button class="btn btn-default" type="button">
          <%= fo_icon_tag(:cancel) %>
        </button>
      </span>
    </div>

    <div id="habitat-input" class="input-container">
      <%= fo_icon_tag(:habitat, title: t('species_search.select.habitat'), class: :pointer) %>
      <div class="right-cell">
        <div>
          <a class="add-habitat add-link">
            <%= t('species_search.select.habitat') %>
          </a>
        </div>
        <div id="habitat-select" class="hidden">
          <select name="h">
            <option value=""></option>
            <%= options_for_select all_habitat_keys.map { |key| [t("habitats.#{key}.title"), key] } %>
          </select>
          <a class="clear-habitat clear-link">
            <%= fo_icon_tag(:cancel) %>
          </a>
        </div>
        <div id="subhabitat">
          <%= content_for?(:subhabitat_select) ? yield(:subhabitat_select) : '' %>
        </div>
        <div id="habitat-species">
          <%= content_for?(:habitat_species) ? yield(:habitat_species) : '' %>
        </div>
      </div>
    </div>

    <div id="substrate-input" class="input-container">
      <%= fo_icon_tag(:substrate, title: t('species_search.select.substrate'), class: :pointer) %>
      <div class="right-cell">
        <div>
          <a class="add-substrate add-link">
            <%= t('species_search.select.substrate') %>
          </a>
        </div>
        <div id="substrate-select" class="hidden">
          <select name="sb">
            <option value=""></option>
            <%= options_for_select all_substrate_keys.map { |key| [t("substrates.#{key}"), key] } %>
          </select>
          <a class="clear-substrate clear-link">
            <%= fo_icon_tag(:cancel) %>
          </a>
        </div>
      </div>
    </div>

    <div id="nutritive-group-input" class="input-container">
      <%= fo_icon_tag(:nutritive_group, title: t('species_search.select.nutritive_group'), class: :pointer) %>
      <div class="right-cell">
        <div>
          <a class="add-nutritive-group add-link">
            <%= t('species_search.select.nutritive_group') %>
          </a>
        </div>
        <div id="nutritive-group-select" class="hidden">
          <select name="ng">
            <option value=""></option>
            <%= options_for_select Species::NUTRITIVE_GROUPS.map { |key| [t("species.nutritive_group.#{key}"), key] } %>
          </select>
          <a class="clear-nutritive-group clear-link">
            <%= fo_icon_tag(:cancel) %>
          </a>
        </div>
      </div>
    </div>

    <div id="growth-type-input" class="input-container">
      <%= fo_icon_tag(:growth_type, title: t('species_search.select.growth_type'), class: :pointer) %>
      <div class="right-cell">
        <div>
          <a class="add-growth-type add-link">
            <%= t('species_search.select.growth_type') %>
          </a>
        </div>
        <div id="growth-type-select" class="hidden">
          <select name="gt">
            <option value=""></option>
            <%= options_for_select Species::GROWTH_TYPES.map { |key| [t("species.growth_type.#{key}"), key] } %>
          </select>
          <a class="clear-growth-type clear-link">
            <%= fo_icon_tag(:cancel) %>
          </a>
        </div>
      </div>
    </div>

    <div id="usability" class="input-container">
      <div class="title"><%= t('species_search.usability') %></div>
      <a class="usability" data-usability="edible"><%= fo_icon_tag(:edible, title: t('characteristic.attributes.edible')) %></a>
      <a class="usability" data-usability="cultivated"><%= fo_icon_tag(:cultivated, title: t('characteristic.attributes.cultivated')) %></a>
      <a class="usability" data-usability="medicinal"><%= fo_icon_tag(:medicinal, title: t('characteristic.attributes.medicinal')) %></a>
      <a class="usability" data-usability="poisonous"><%= fo_icon_tag(:poisonous, title: t('characteristic.attributes.poisonous')) %></a>
      <input type="hidden" name="edible">
      <input type="hidden" name="cultivated">
      <input type="hidden" name="medicinal">
      <input type="hidden" name="poisonous">
    </div>

  </form>
</li>