<li>
  <form id="sidebar-search" method="get"
        <%= (is_species_search? || is_specimens_search?) ? " data-remote='true' " : '' %>
        data-species-action="<%= send(:search_species_index_url, locale: I18n.locale) %>"
        data-specimens-action="<%= '' %>">

    <div class="input-group" id="systematics-input">

      <div class="input-group-btn" id="search-domain-select">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <%= fo_icon_tag :species %>
          <span class="caret"></span>
        </button>

        <ul class="dropdown-menu" role="menu">
          <li class="active">
            <a href="#" data-search-domain="species" data-icon="<%= fo_icon(:species) %>" data-placeholder="<%= t('species_search.placeholder.species') %>...">
              <%= fo_icon_tag :species %> <%= t('shared.sections.species') %>
            </a></li>
          <li>
            <a href="#" data-search-domain="specimens" data-icon="<%= fo_icon(:specimens) %>" data-placeholder="<%= t('species_search.placeholder.specimens') %>...">
              <%= fo_icon_tag :specimens %> <%= t('shared.sections.specimens') %>
            </a></li>
        </ul>
      </div>

      <input type="hidden" id="search_domain" value="species">
      <input type="text" id="systematics-typeahead" name="s"
             class="form-control systematics typeahead"
             placeholder="<%= t('species_search.placeholder.species') %>..."
             data-genus="<%= t('species.attributes.genus') %>"
             data-familia="<%= t('species.attributes.familia') %>"
             data-ordo="<%= t('species.attributes.ordo') %>"
             data-subclassis="<%= t('species.attributes.subclassis') %>"
             data-classis="<%= t('species.attributes.classis') %>"
             data-subphylum="<%= t('species.attributes.subphylum') %>"
             data-phylum="<%= t('species.attributes.phylum') %>">

      <span id="cancel-species" class="input-group-btn hidden">
        <button class="btn btn-default" type="button">
          <%= fo_icon_tag(:cancel) %>
        </button>
      </span>
    </div>

    <div id="habitat-input">
      <%= fo_icon_tag(:habitat) %>
      <div class="right-cell">
        <div>
          <a class="add-habitat">
            <%= t('species_search.select.habitat') %>
          </a>
        </div>
        <div id="habitat-select" class="hidden">
          <select name="h">
            <option value=""></option>
            <%= options_for_select all_habitat_keys.map { |key| [t("habitats.#{key}.title"), key] } %>
          </select>
          <a class="clear-habitat">
            <%= fo_icon_tag(:cancel) %>
          </a>
        </div>
        <div id="subhabitat">
          <%= content_for?(:subhabitat_select) ? yield(:subhabitat_select) : '' %>
        </div>
        <div id="habitat-species">
          <%= content_for?(:habitat_species) ? yield(:habitat_species) : '' %>
        </div>
      </div>
    </div>

    <div id="substrate-input">
      <%= fo_icon_tag(:substrate) %>
      <div class="right-cell">
        <div>
          <a class="add-substrate">
            <%= t('species_search.select.substrate') %>
          </a>
        </div>
        <div id="substrate-select" class="hidden">
          <select name="sb">
            <option value=""></option>
            <%= options_for_select all_substrate_keys.map { |key| [t("substrates.#{key}"), key] } %>
          </select>
          <a class="clear-substrate">
            <%= fo_icon_tag(:cancel) %>
          </a>
        </div>
      </div>
    </div>

  </form>
</li>