<%= admin_page_header(@localized_page, :show, no_header_icon: true) %>


<dl class="dl-horizontal content">
  <%= raw @localized_page.localized_field(:content) %>
</dl>

<dl class="dl-horizontal">
  <% if @localized_page.first? %>
    <div class="row">
      <div class="col-lg-8">
        <%= render partial: 'localized_pages/home_page/species_count_graph', locals: { monthly_specimens_count: @monthly_specimens_count } %>
        <%= render partial: 'localized_pages/home_page/yearly_field_studies', locals: { yearly_field_studies: @yearly_field_studies } %>
      </div>
      <%= render partial: 'localized_pages/home_page/general_db_stats', locals: { data: @general_db_stats } %>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <%= t('project.disclaimer') %>
          </div>
        </div>
      </div>
    </div>

    <div style="width: 100%;">
      <div class="sponsor-logos">

        <div class="sponsor-logo">
          <img src="/images/vojvodina.png">

          <div class="title">
            <div class="no-wrap"><%= t('project.apv.line_1') %></div>
            <div class="no-wrap"><%= t('project.apv.line_2') %></div>
            <div class="no-wrap"><%= t('project.apv.line_3') %></div>
          </div>
        </div>
        <div class="sponsor-logo">
          <img src="/images/pmf.png">

          <div class="title">
            <div class="no-wrap"><%= t('project.pmf.line_1') %></div>
            <div class="no-wrap"><%= t('project.pmf.line_2') %></div>
            <div class="no-wrap"><%= t('project.pmf.line_3') %></div>
          </div>
        </div>
      </div>
    </div>

  <% end %>

</dl>